In [2]:
import pandas as pd
import numpy as np

In [3]:

data1 = pd.read_csv('./marketing.csv', sep=';')
data1.head()

C:\Users\natas\AppData\Local\Temp\ipykernel_57288\3254474516.py:1: DtypeWarning: Columns (12,13,17,18,22) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv('./marketing.csv', sep=';')

,Client ID,Domain,City,Region,Browser,Device Category,Date,Pageviews,Campaign,Keyword,...,Bounce Rate,Sessions,Goal Completion Location,Goal Completions,Goal Conversion Rate,Goal Value,Конверсия,Source conv.,Marka,Model
0,GA1.2.1008664515.1580665610,cars.BMW-keyauto-krd.ru,Krasnodar,Krasnodar Krai,Chrome,mobile,"2020-02-02 00:00:00,000",2,(not set),(not set),...,0,1,/,0,0,0,0,BMW-keyauto-krd.ru,BMW,NaN
1,GA1.2.1018469100.1579095666,cars.BMW-keyauto-krd.ru,Krasnodar,Krasnodar Krai,Chrome,mobile,"2020-01-15 00:00:00,000",2,(not set),(not set),...,0,1,/,0,0,0,0,BMW-keyauto-krd.ru,BMW,NaN
2,GA1.2.1026472417.1566848988,cars.BMW-keyauto-krd.ru,Krasnodar,Krasnodar Krai,Chrome,mobile,"2020-01-06 00:00:00,000",2,(not set),(not set),...,0,1,/,0,0,0,0,BMW-keyauto-krd.ru,BMW,NaN
3,GA1.2.1033768264.1579957500,cars.BMW-keyauto-krd.ru,Krasnodar,Krasnodar Krai,Chrome,mobile,"2020-01-25 00:00:00,000",2,(not set),(not set),...,0,1,/,0,0,0,0,BMW-keyauto-krd.ru,BMW,NaN
4,GA1.2.1034147636.1574186800,cars.BMW-keyauto-krd.ru,Krasnodar,Krasnodar Krai,Chrome,mobile,"2020-01-25 00:00:00,000",2,(not set),(not set),...,0,1,/,0,0,0,0,BMW-keyauto-krd.ru,BMW,NaN

In [20]:
data1.dtypes.value_counts()

object    19
int64      4
Name: count, dtype: int64

In [7]:
data1.dtypes

Client ID                           object
Domain                              object
City                                object
Region                              object
Browser                             object
Device Category                     object
Date                        datetime64[ns]
Pageviews                            int64
Campaign                            object
Keyword                             object
Medium                              object
Source                              object
Avg. Session Duration               object
Bounce Rate                         object
Sessions                             int64
Goal Completion Location            object
Goal Completions                     int64
Goal Conversion Rate                object
Goal Value                          object
Конверсия                            int64
Source conv.                        object
Marka                               object
Model                               object
dtype: object

In [21]:
data1.shape

(66162, 23)

In [4]:
data2 = pd.read_csv('./Spravochnik.csv', sep=';')
data2.head()

,Марка,Модель,Цена,Валюта,Маржинальность,Курс рубля,Стоимость в рублях,Маржа в рублях
0,MERCEDES,GLS,"113513,513513514",Доллар США,"0,33","90,8423","10311828,648648692","3402903,4540540688"
1,MERCEDES,GT_AMG,"174324,324324324",Доллар США,"0,34","90,8423","15836022,567567537","5384247,6729729632"
2,BMW,X5,"72222,2222222222",Евро,"0,27","98,5447","7117117,2222222211","1921621,65"
3,BMW,I3,"51666,6666666667",Евро,"0,35","98,5447","5091476,1666666707","1782016,6583333346"
4,MERCEDES,С180,2300000,Рубль,"0,2",1,2300000,460000

In [28]:
data2.dtypes

Марка                  object
Модель                 object
Цена                   object
Валюта                 object
Маржинальность         object
Курс рубля             object
Стоимость в рублях    float64
Маржа в рублях        float64
dtype: object

In [5]:
crm = pd.read_csv('./CRM.csv', sep=';')
crm.head()

,Client ID,Город,Просчет стоимости модели,Приход к диллеру,Продажа
0,GA1.2.1108606219.1572272784,Krasnodar,0,0,0
1,GA1.2.1823974094.1570697747,Krasnodar,0,0,0
2,GA1.2.554197778.1572516039,Krasnodar,0,0,0
3,GA1.2.702909787.1572668704,Krasnodar,0,0,0
4,GA1.2.730171603.1569937181,Krasnodar,0,0,0

In [19]:
crm.dtypes

Client ID                   object
Город                       object
Просчет стоимости модели     int64
Приход к диллеру             int64
Продажа                      int64
dtype: object

Из каких регионов больше всего заявок?

In [33]:
region = data1.groupby('Region').size()
sorted_region = region.sort_values(ascending=False)
most_requests_region = sorted_region.index[0]
most_requests_region

'Krasnodar Krai'

Какой средний процент отказов (Bounce)?

In [12]:
data1['Bounce Rate'] = data1['Bounce Rate'].replace('-', np.nan)
data1['Bounce Rate'] = data1['Bounce Rate'].astype(float)
average_bounce_rate = data1['Bounce Rate'].mean()
average_bounce_rate = round(average_bounce_rate * 100, 2)
average_bounce_rate

0.23

С каких устройств чаще заходят на сайты?

In [13]:
device = data1.groupby('Device Category').size()
sorted_device = device.sort_values(ascending=False)
most_requests_device = sorted_device.index[0]
most_requests_device

'mobile'

Какие источники наиболее конвертируемые?

In [18]:
data1['Goal Conversion Rate'] = data1['Goal Conversion Rate'].astype(float)
conversion_by_source = data1.groupby('Source')['Goal Conversion Rate'].mean()
conversion_by_source = conversion_by_source.sort_values(ascending=False)
conversion_by_source

Source
zoon.ru                       1.0
m.facebook.com                1.0
mir.BMW.ru                    1.0
cars.Mersedes-krasnodar.ru    1.0
min.rusdealers.ru             1.0
                             ...
msk.autoneva.ru               NaN
rnd.autoneva.ru               NaN
stavropol.drom.ru             NaN
yandex.com.tr                 NaN
честно-отзыв.рф               NaN
Name: Goal Conversion Rate, Length: 88, dtype: float64

Рассчитайте ROMI (при расчете придумайте методологию расчета средней стоимость 
проданного автомобиля)?

In [16]:
data2['Стоимость в рублях'] = data2['Стоимость в рублях'].str.replace(',', '.').astype(float)
data2['Маржа в рублях'] = data2['Маржа в рублях'].str.replace(',', '.').astype(float)

In [44]:
total_marketing_profit = data1['Goal Value'].sum()
total_marketing_profit

875703493.0

In [17]:
average_sales_price = data2['Стоимость в рублях'].mean().round(2)
average_sales_price

5247277.79

In [73]:
unique_customers_purchased = crm[crm['Продажа'] == 1]['Client ID'].nunique()
unique_customers_purchased

3806

In [56]:
total_purchase_sum = unique_customers_purchased*average_sales_price
total_purchase_sum

19971139268.74

In [77]:
marg_avg = data2['Маржа в рублях'].mean().round(2)
marg_avg

1539830.59

In [79]:
total_marg = marg_avg*unique_customers_purchased
total_marg

5860595225.54

In [80]:
profit = total_purchase_sum - total_marg
profit

14110544043.2

In [82]:
romi = round((profit - total_marketing_profit) / total_marketing_profit * 100)
romi

1511

Посчитайте выручку в рублях только по долларовым позициям?

In [95]:
data1['Marka'].unique()

array(['BMW', 'Mersedes'], dtype=object)

In [96]:
data1['Model'].unique()

array([nan, 'gls', 'cls', 'x1', 'glc_prime', 'e220', 'e220-x-line',
       'New318', '530d', 'c180_sw', 'c180', 'e400', 'glc', 'NewX5',
       'proc180', 'GT_AMG', 'GLE', '318_super_series_2', 'c200',
       'c200_classic', 'i3N', 'Newx3', 'cla', 'NewElantra', 'k900',
       'New530d', 'H1', 'cla_ps', 'BMW-grand-x3', 'quoris', 'x3',
       'Elantra'], dtype=object)

In [97]:
filtered_clients1 = data1[(data1['Marka'] == 'Mersedes') & (data1['Model'] == 'gls')]
filtered_clients1 = len(filtered_clients1)
filtered_clients1

578

In [99]:
filtered_clients2 = data1[(data1['Marka'] == 'Mersedes') & (data1['Model'] == 'GT_AMG')]
filtered_clients2 = len(filtered_clients2)
filtered_clients2

94

In [108]:
gls_total_sum = filtered_clients1*10311828.64
gls_total_sum

5960236953.92

In [109]:
gt_total_sum = filtered_clients2 * 15836022.56
gt_total_sum

1488586120.64

In [110]:
total_sum_on_usd = gls_total_sum + gt_total_sum
total_sum_on_usd

7448823074.56

Определите, какой источник трафика наиболее выгоден для компании по текущим данным?

In [38]:
data1['Goal Value'] = data1['Goal Value'].replace('[^\d.]', '', regex=True).astype(float)
source_goal_value = data1.groupby('Source')['Goal Value'].sum()
most_profitable_source = source_goal_value.idxmax()
most_profitable_source

'google'

Ответьте на вопрос: каких показателей не хватает, чтобы посчитать чистую прибыль?

Себестоимость продажи автомобилей:  сумма денег, которую потратили на производство автомобилей (затраты на материалы, труд и другие операционные расходы, связанные с получением продукта).

Дополнительные расходы: любые дополнительные расходы, связанные с продажей автомобилей (комиссии, налоги, страховку, затраты на доставку и другие операционные издержки).

Прочие операционные расходы: любые другие операционные расходы, которые могут быть связаны с бизнесом (аренда помещений, зарплаты сотрудников, административные расходы и т.д.)

Какая будет выручка за первый квартал, если средняя стоимость авто останется 
неизменной, а продажи будут пропорциональны текущим данным?

In [6]:
data1['Date'] = pd.to_datetime(data1['Date'])

C:\Users\natas\AppData\Local\Temp\ipykernel_57288\3750176488.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data1['Date'] = pd.to_datetime(data1['Date'])

In [9]:
q1_successful_sales = data1[(data1['Date'].dt.quarter == 1) & (data1['Конверсия'] == 1)]
q1_successful_sales

,Client ID,Domain,City,Region,Browser,Device Category,Date,Pageviews,Campaign,Keyword,...,Bounce Rate,Sessions,Goal Completion Location,Goal Completions,Goal Conversion Rate,Goal Value,Конверсия,Source conv.,Marka,Model
32799,GA1.2.102022079.1580715843,Mersedes-krasnodar.ru,Stavropol,Stavropol Krai,Chrome,desktop,2020-02-03,4,(not set),купить киа спортаж в салоне ключ авто краснодар,...,0,1,/models/gls/,1,1,21661,1,rambler,Mersedes,gls
32800,GA1.2.1067908647.1575040229,cars.Mersedes-krasnodar.ru,Cherkessk,Karachay-Cherkessia,Samsung Internet,mobile,2020-01-02,18,(not set),Киа ключ авто краснодар официальный сайт,...,0,1,/,1,1,14066,1,rambler,Mersedes,NaN
32801,GA1.2.1228250464.1578583045,Mersedes-krasnodar.ru,Kerch,Crimea,YaBrowser,desktop,2020-01-09,4,(not set),новые цены на киа в 2020г в автосалонах,...,0,1,(entrance),1,1,8566,1,rambler,Mersedes,NaN
32802,GA1.2.124216522.1580107795,Mersedes-krasnodar.ru,(not set),Stavropol Krai,Internet Explorer,desktop,2020-01-27,4,Mersedes_Krasnodar_Poisk,E220 +x +line +цена,...,0,1,/special/purchase/e220-x-line/?placement=,1,1,17144,1,google,Mersedes,NaN
32803,GA1.2.1467735387.1580649631,Mersedes-krasnodar.ru,(not set),(not set),Internet Explorer,desktop,2020-02-02,2,(not set),amazon,...,0,1,/,1,1,39123,1,bing,Mersedes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66157,GA1.2.931145287.1578497465,cars.BMW-keyauto-krd.ru,Krasnodar,Krasnodar Krai,Chrome,mobile,2020-01-08,2,(not set),(not set),...,0,1,/,1,1,9359,1,BMW-keyauto-krd.ru,BMW,NaN
66158,GA1.2.936215499.1579302396,cars.BMW-keyauto-krd.ru,Krasnodar,Krasnodar Krai,Chrome,mobile,2020-01-20,2,(not set),(not set),...,0,1,/,1,1,39827,1,BMW-keyauto-krd.ru,BMW,NaN
66159,GA1.2.943709284.1571860702,cars.BMW-keyauto-krd.ru,Krasnodar,Krasnodar Krai,Chrome,mobile,2020-02-11,2,(not set),(not set),...,0,1,/,1,1,11880,1,BMW-keyauto-krd.ru,BMW,NaN
66160,GA1.2.943948684.1579628291,cars.BMW-keyauto-krd.ru,Krasnodar,Krasnodar Krai,Chrome,mobile,2020-01-21,2,(not set),(not set),...,0,1,/,1,1,20922,1,BMW-keyauto-krd.ru,BMW,NaN
66161,GA1.2.960530317.1571377536,cars.BMW-keyauto-krd.ru,Krasnodar,Krasnodar Krai,Chrome,mobile,2020-01-19,2,(not set),(not set),...,0,1,/,1,1,28667,1,BMW-keyauto-krd.ru,BMW,NaN

In [11]:
sales = q1_successful_sales['Конверсия'].sum()
sales

33033

In [18]:
q1_total_sales_amount = sales*average_sales_price
q1_total_sales_amount

173333327237.07